<h1>Login</h1>
<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" [(ngModel)]="username" name="username" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" [(ngModel)]="password" name="password" required>
  </div>
  <button type="submit" [disabled]="!loginForm.form.valid" id="loginButton">Login</button>

</form>
<p *ngIf="errorMessage" style="color:red">{{errorMessage}}</p>
<p>Don't have an account? <a href="/register">Create an account</a></p>